<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Virtual Sofa 2014</title>
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/style.css" rel ="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" />

	<script src="js/jquery.min.js"></script>
	<script src="js/jquery.backstretch.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
	<script src="js/jwplayer.js"></script>
	<script src="/js/main.js"></script>
  </head>
  <body>

	<div class="container-narrow main-container">

      <div class="masthead">
        <ul class="nav nav-tabs">
          <li class="inactive"><a href="index.html">Home</a></li>
          <li class="active"><a href="#">About</a></li>
        </ul>
      </div>
      <div class="jumbotron">
        <h2><strong>Share The Experience. From Afar</strong></h2>
       
			   	</br>
          <img src = "/images/couch.png" width="600px"></img>
			    </br>
		      </br>
        <p class="lead">Check out how our breakthrough video sync engine keeps you and a friend on the same scene.</p>
      </div>

            <div class="row">
        <div class="col-sm-6">
          <h4>Share Control</h4>
          <p>Use your player's toolbar to control the experience for you and a friend.</p>

          <h4>No Spoilers Allowed!</h4>
          <p>Miss something? Need to take a break? Virtual Couch supports full seeking control.</p>

        </div>

        <div class="col-sm-6">
          <h4>Leave No Man (or Woman) Behind</h4>
          <p>Stuck with flaky internet connectivity? Virtual Couch tells your friend's player when yours stops to buffer, or simply falls out of sync.</p>

          <h4>Stay In Touch</h4>
          <p>Use our player's built-in chat client to exchange words without taking your eyes off the screen.</p>
        </div>
      </div>
    </div>
  </body>
</html>