<!DOCTYPE>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Xfinity Sync</title>
  <link rel="shortcut icon" href="favicon.ico" />
  <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
  <link href="http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />
  <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
  <script src="js/jwplayer.js"></script>
</head>

<body>

  <div class="container-narrow main-container">
    <div class="masterhead">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#">Home</a>
        </li>
        <li class="inactive"><a href="about.html">About</a>
        </li>
      </ul>
    </div>
    <!--player-->
    <h1 style="text-align:center;">Xfinity Sync</h1>
    <div class="jumbotron">
      <div id='playerA'></div>
      <script type='text/javascript'>
        jwplayer('playerA').setup({
          file: 'images/RedBull480.mp4',
          title: 'Sample',
          width: '640px',
          height: '360px',
          aspectratio: '16:9',
          controls: 'false'
        });
      </script>
      <div id="video-controls">
        <button id="play" class="btn btn-xs"><span class="glyphicon glyphicon-play"></span></button>
        <button id="pause" class="btn btn-xs"><span class="glyphicon glyphicon-pause"></span></button>
        <div id="slider"></div>
      </div>
    </div>
    <div id="creatUsername">
      <h2>Create Your Username</h2>
      
      <input name="search" type="text" id="userName" class="searchField btn" />
      <input type="submit" name="btnSearch" value="Create" id="userButton" class="buttonSearch btn"/>
    </div>

    <div id = "created"></div>
    <div id="chooseSyncmate">
      <h2>Choose Your SyncMate</h2>
      
      <input name="search" type="text" id="partnerName" class="searchField btn" />
      <input type="submit" name="btnSearch" value="Match" id="partnerButton" class="buttonSearch btn"/>
    </div>

    <div id = "noMatch"></div>
    <div id = "match"></div>
  </div>


  <ul id="messages">
    <img id="xfinityLogo" src="images/xfinity.png">
    <hr>
  </ul>
  <div class="footer">
    <!-- MESSAGING --> 
    <form id="messageTextField" action="">
      <input id="m" autocomplete="off" />
    </form>
  </div>

  <script src="/js/main.js"></script>
</body>

</html>