<!DOCTYPE>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>VIRTUAL COUCH</title>
    <link rel="shortcut icon" href="favicon.ico" />
    
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/themes/smoothness/jquery-ui.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans|Dosis:400,800" rel="stylesheet" type="text/css" />
    

    <script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.0/jquery-ui.min.js"></script>
    <script src="js/jwplayer.js"></script>
</head>

<body>
    
    <div class="container-narrow main-container">
        <div class="masterhead">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#">Home</a>
                </li>
                <li class="inactive"><a href="about.html">About</a>
                </li>
            </ul>
        </div>

        <!--player-->
        <div class="jumbotron">
            <h1>Virtual Couch</h1>
            <div id='playerA'></div>
            <script type='text/javascript'>
                jwplayer('playerA').setup({
                    // URL to the video file
                    file: 'images/test.mp4',
                    title: 'Sample',
                    width: '640px',
                    height: '360px',
                    aspectratio: '16:9',
                    controls: 'false'
                });

            </script>
            <div id="video-controls">
                <button id="play" class="btn btn-xs"><span class="glyphicon glyphicon-play"></span></button>
                <button id="pause" class="btn btn-xs"><span class="glyphicon glyphicon-pause"></span></button>
                <div id="slider"></div>
            </div>
            <div id="curTime"></div>
        </div>

        <!-- MESSAGING -->
        <ul id="messages"></ul>
        <form action="">
            <input id="m" autocomplete="off" />
            <button>Send</button>
        </form>
        <script>
            var socket = io();
            $('form').submit(function () {
                socket.emit('chat message', $('#m').val());
                $('#m').val('');
                return false;
            });
            socket.on('chat message', function (msg) {
                console.log(msg);
                $('#messages').append($('<li>').text(msg));
            });
        </script>

    </div>

    <div class="footer">
        <p>&copy; Comcast 2014</p>
    </div>

    <script src="/js/main.js"></script>
</body>

</html>